@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family:'Raleway',sans-serif;
    background:#f3f6f7
}
#topbar{
    height: 3.9em;
}

#navbar{
    background-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    position: fixed;
    width: 100%;
    font-size: 16px;
    height: 3.9em;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    padding: .9em 5% 4em;
    box-shadow: none;
    font-family: 'Raleway',sans-serif;
    box-shadow:1px 0 3px;
}
.brand-nav-content{
    width: 9em;
    height: 100%;
    text-decoration: none;
}

.brand-nav-content a{
    display: block;
}

.brand-logo{
    color: #0084ff;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: -.9px;
    text-align: left;
}

.brand-caption{
    margin: 0;
    font-family: 'Raleway',sans-serif;
    font-size: .89em;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: .9;
    letter-spacing: .11px;
    color: #000;
}

.blog-Drpodown-List{
    padding: 0;
    list-style: none;
    display: flex;
    height: 100%;
    font-size: 16px;
    margin: 0.25em 3em;
    width: 40%;
    
}

.blog-Drpodown-List div{
    width: 37%;
    padding: 0 10px;
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin: 0;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .9px;
    text-align: center;
    cursor: pointer;
}
.menu-items{
    text-decoration: none;
    color:#000;
}

.dropdown-header{
    display: flex;
    font-size: 15px;
}
.dropIcon{
    padding-top: 0;
    padding-left: 8px;
}

#blog-items{
    margin: 10px 20px;
    padding: 20px 10px;
    line-height:1.9em;
    text-align: left;
    list-style-type: none;
    box-shadow:0 0 8px;
    border-radius: 8px;
    width:250px;
    font-size: 15px;
    background-color: #fff;
}
#blog-items li:hover{
    background-color: rgb(233, 228, 228);
}

.right-side{
    opacity: .5;
    font-family: 'Raleway',sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: .5px;
    text-align: left;
    color: rgba(0,0,0,.6);
    margin-top: 2.5em;
    margin-right: 40px;
}
.go-to{
    width: 230px; 
    font-size: 0.80em; 
    padding: 0.3em 3em; 
    box-shadow: none;
    margin-top: 4em;
    height: 40px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    padding: 10px 29px;
    margin-right: 16px;
    color: #fff;
    outline: none;
    font-family: 'Raleway',sans-serif;
    font-size: .9em;
    font-weight: 600;
    letter-spacing: .03em;
    background: #0084ff;
    background: linear-gradient(269deg,#0048ff,#0096ff);
}

.blogs{
    padding: 2% 20%;
}
.trending-posts{
    width: fit-content;
    margin: 0;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    line-height: 1.94;
    letter-spacing: -.9px;
    text-align: left;
    color: #000;
}
.grid{
    height: auto;
    width:90%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2vmin;
    
}
.image-grid{

    width: 100%;
    height: auto;
    overflow: hidden;
    transition:0.5s ease;
}
.image-grid:hover{
    transform:scale(1.1);
    border-radius:10px;
    box-shadow:0 0 40px;
    
}
.image-grid-link:first-child{
    grid-column-start:span 2;
    grid-row-start: span 2;
}

.filter-icon{
    color:blue;
    margin-right: 10px;
}
.filter-text{
    font-weight: 600;
}

.category-items{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.category-list-items{
    width: auto;
    font-size: .75em;
    color: #0084ff;
    padding: 6px 16px;
    border-radius: 15px;
    border: 1px solid #0084ff;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}
.category-list-items:hover{
    color: #fff;
    background: #0084ff;
    background: linear-gradient(269deg,#0048ff,#0096ff);
}

.active{
    color: #fff;
    background: #0084ff;
    background: linear-gradient(269deg,#0048ff,#0096ff);
}
.category-list-items .menu-items li:hover{
    color:#fff;
}
.category-list-items a li{
    padding:0 2px;
    margin:0 5px;
    color:#0084ff;
}

.blog-card-wrapper{
    display: inline-block;
    padding:auto;
}

.card-links{
    text-decoration: none;
    color:black;
}
.blog-cards{
    width:calc(33% - 48px);
    margin: 20px;
    height: 380px;
    overflow:hidden;
    display: inline-block;
    border-radius:8px;
    box-shadow:0 0 10px;
    transition:0.5s ease;
}
.blog-cards:hover{
    transform:scale(1.1);
    box-shadow: 5px 5px 15px;
}

.thumbnail{
    width:100%;
    height: 176px;
}


.card-title{
    width: 100%;
    height: 35px;
    font-size: 18px;
    text-align: left;
    padding: 10px 5px;
    margin: 0;
    font-weight: 600;
    overflow: hidden;
}

.author-date{
    margin:0;
    padding: 5px;
    height: 20px;
    margin-bottom: 10px;
}
.author{
    padding-top: 4px;
    margin-right: 4px;
    font-size: 14px;
    color: #0096ff;
    font-style: italic;
    font-weight: 500;
}
.date{
    color:rgba(0,0,0,0.7);
    font-size: 14px;
    font-weight: 300;
}

.card-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: rgba(0,0,0,.6);
    margin: 4px 0;
    padding: 5px;
    overflow: hidden;
}

footer{
    width: 100%;
    box-sizing: border-box;
    background-color: #172746;
    padding: 42px 9%;
    box-shadow: 0 -2px 0 0 rgba(0,0,0,.6);
    color: #fff;
}
#foot-header{
    color:rgb(139, 138, 138);
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}